.product-view__modal {
  position: fixed;
  z-index: 101;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    border-radius: 10px;
    margin: auto;
    padding: 2rem;
    background-color: $main-bg;
    width: 50%;
    opacity: 0;
    transform: translateY(-250px);
    transition: transform 0.6s ease;
    position: relative;

    &__close {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      a {
        font-size: 30px;
      }
    }
    .payment {
      padding-top: 15ppx;
      height: 85%;
      display: flex;
      column-gap: 100px;

      .checkout-form {
        width: 50%;

        form {
          h6 {
            font-size: 12px;
            font-weight: 500;
          }

          .form-control {
            margin: 10px 0px;
            position: relative;

            label:not([for="checkout-checkbox"]) {
              display: block;
              font-size: 10px;
              font-weight: 500;
              margin-bottom: 2px;
            }

            input:not([type="checkbox"]) {
              width: 100%;
              padding: 10px 10px 10px 40px;
              border-radius: 10px;
              outline: none;
              border: 0.2px solid #4e515085;
              font-size: 12px;
              font-weight: 700;

              &::placeholder {
                font-size: 10px;
                font-weight: 500;
              }
            }

            label[for="checkout-checkbox"] {
              font-size: 9px;
              font-weight: 500;
              line-height: 10px;
            }

            > div {
              position: relative;

              span.fa {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(15px, -50%);
              }
            }
          }

          .form-group {
            display: flex;
            column-gap: 25px;
          }

          .checkbox-control {
            display: flex;
            align-items: center;
            column-gap: 10px;
          }

          .form-control-btn {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
              padding: 10px 25px;
              font-size: 10px;
              color: #fff;
              background: #f2994a;
              border: 0;
              border-radius: 7px;
              letter-spacing: 0.5px;
              font-weight: 200;
              cursor: pointer;
            }
          }
        }
      }
      .checkout-details {
        width: 40%;

        .checkout-details-inner {
          background: #f2f2f2;
          border-radius: 10px;
          padding: 20px;

          .checkout-lists {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            margin-bottom: 40px;

            .card {
              width: 100%;
              display: flex;
              column-gap: 15px;
              .card-img {
                border: 2px solid rgb(209, 207, 207);
                border-radius: 10px;
                width: 35%;
                margin-right: 25px;
                .card-image {
                  img {
                    width: 100%;
                    object-fit: fill;
                    border-radius: 10px;
                  }
                }
              }

              .card-details {
                display: flex;
                flex-direction: column;

                .card-name {
                  font-size: 12px;
                  font-weight: 500;
                }
                .card-price {
                  font-size: 13px;
                  font-weight: 500;
                  color: #f2994a;
                  margin-top: 5px;

                  span {
                    color: #4e5150;
                    text-decoration: line-through;
                    margin-left: 10px;
                  }
                }
                .card-wheel {
                  font-weight: 600;
                  width: 90px;
                  border-radius: 10px;
                  font-size: 12px;

                  button {
                    background: #e0e0e0;
                    color: #828282;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0;
                    cursor: pointer;
                    border-radius: 3px;
                    font-weight: 500;
                  }
                }
              }
            }
          }

          .checkout-shipping,
          .checkout-total {
            display: flex;
            font-size: 16px;
            padding: 5px 0px;
            border-top: 1px solid #bdbdbd;
            justify-content: space-between;

            p {
              font-size: 10px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  &.active &__content {
    opacity: 1;
    transform: translateY(0);
  }
}
